---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit&q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.104 TT 0 0.106"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "",
            "offset": null
        }
  recorded_at: Mon, 07 Mar 2022 16:51:45 GMT
recorded_with: VCR 6.0.0
