---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=bUKwfDuUzs9NdH66bmpai7mgQVL6VEAO&location=los%20angeles,%20ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 23:17:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"los
        angeles, ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Los
        Angeles","adminArea5Type":"City","adminArea4":"Los Angeles County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039899","unknownInput":"","type":"s","latLng":{"lat":34.052238,"lng":-118.243344},"displayLatLng":{"lat":34.052238,"lng":-118.243344},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bUKwfDuUzs9NdH66bmpai7mgQVL6VEAO&type=map&size=225,160&locations=34.052238,-118.243344|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1481054303"}]}]}'
  recorded_at: Tue, 08 Mar 2022 23:17:11 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=aa32309ff759740cd72e0859617b69eb&exclude=minutely,alerts&lat=34.052238&lon=-118.243344&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0522,"lon":-118.2433,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1646781431,"sunrise":1646748766,"sunset":1646790895,"temp":69.19,"feels_like":67.03,"pressure":1017,"humidity":26,"dew_point":32.88,"uvi":1.96,"clouds":0,"visibility":10000,"wind_speed":17.27,"wind_deg":260,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1646780400,"temp":69.19,"feels_like":67.03,"pressure":1017,"humidity":26,"dew_point":32.88,"uvi":1.96,"clouds":0,"visibility":10000,"wind_speed":12.01,"wind_deg":237,"wind_gust":9.84,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646784000,"temp":68.68,"feels_like":66.38,"pressure":1017,"humidity":24,"dew_point":30.67,"uvi":0.81,"clouds":0,"visibility":10000,"wind_speed":12.03,"wind_deg":239,"wind_gust":13.06,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646787600,"temp":67.5,"feels_like":65.12,"pressure":1017,"humidity":25,"dew_point":30.67,"uvi":0.19,"clouds":0,"visibility":10000,"wind_speed":12.08,"wind_deg":242,"wind_gust":14.79,"weather":[{"id":800,"ma[...]
