---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=aa32309ff759740cd72e0859617b69eb&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646443355,"sunrise":1646400519,"sunset":1646441696,"temp":287.03,"feels_like":285.1,"pressure":1000,"humidity":24,"dew_point":267.52,"uvi":0,"clouds":96,"visibility":10000,"wind_speed":2.24,"wind_deg":202,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646442000,"temp":287.03,"feels_like":285.1,"pressure":1000,"humidity":24,"dew_point":267.52,"uvi":0,"clouds":96,"visibility":10000,"wind_speed":3.63,"wind_deg":196,"wind_gust":7.74,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.27},{"dt":1646445600,"temp":286.68,"feels_like":284.77,"pressure":1000,"humidity":26,"dew_point":268.19,"uvi":0,"clouds":96,"visibility":10000,"wind_speed":2.49,"wind_deg":274,"wind_gust":5.13,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.46},{"dt":1646449200,"temp":285.81,"feels_like":283.91,"pressure":1000,"humidity":30,"dew_point":269.21,"uvi":0,"clouds":97,"visibility":10000,"wind_speed":1.83,"wind_deg":310,"wind_gust":5.4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.42},{"dt":1646452800,"temp":284.26,"feels_like":282.44,"pressure":1000,"humidity":39,"dew_point":271.11,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":4.03,"wind_deg":330,"wind_gust":7.49,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.34,"rain":{"1h":0.11}},{"dt":1646456400,"temp":283.05,"feels_like":280.54,"pressure":1000,"humidity":46,"dew_point":272.12,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":5.21,"wind_deg":343,"wind_gust":9.27,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.27,"rain":{"1h":0.12}},{"dt":1646460000,"temp":281.73,"feels_like":279.26,"pressure":1000,"humidity":52,"dew_point":272.27,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":4.31,"wind_deg":351,"wind_gust[...]
