---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=bUKwfDuUzs9NdH66bmpai7mgQVL6VEAO&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 05 Mar 2022 16:55:51 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bUKwfDuUzs9NdH66bmpai7mgQVL6VEAO&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=685911969"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=bUKwfDuUzs9NdH66bmpai7mgQVL6VEAO&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1362807221"}]}]}'
  recorded_at: Sat, 05 Mar 2022 16:55:51 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=aa32309ff759740cd72e0859617b69eb&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646499351,"sunrise":1646486827,"sunset":1646528160,"temp":33.3,"feels_like":26.29,"pressure":1008,"humidity":82,"dew_point":28.83,"uvi":1.71,"clouds":99,"visibility":10000,"wind_speed":8.23,"wind_deg":29,"wind_gust":7.02,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646496000,"temp":34.29,"feels_like":27.46,"pressure":1008,"humidity":78,"dew_point":28.6,"uvi":1,"clouds":99,"visibility":10000,"wind_speed":8.3,"wind_deg":33,"wind_gust":7.7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646499600,"temp":33.3,"feels_like":26.29,"pressure":1008,"humidity":82,"dew_point":28.83,"uvi":1.71,"clouds":99,"visibility":10000,"wind_speed":8.23,"wind_deg":29,"wind_gust":7.02,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.04},{"dt":1646503200,"temp":34.32,"feels_like":26.78,"pressure":1008,"humidity":78,"dew_point":28.63,"uvi":2.3,"clouds":99,"visibility":10000,"wind_speed":9.66,"wind_deg":26,"wind_gust":8.46,"weather":[{"id":80[...]
